/* home */
.about-me {
  margin-top: 25px;
}

.habilities > img {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* experience */
.dev-ibr {
  margin-top: 25px;
  font-size: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: circle;
}

/* graduation */
.uri {
  margin-top: 25px;
  font-size: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* contact */
.contact {
  margin-top: -50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-button {
  margin-top: 10px;
  transition: 1s all;
}

.contact-button-link {
  text-decoration: none;
  color: initial;
}

.contact-button:hover {
  transform: scale(1.2);
}

.form-contact {
  margin-top: 10%;
}

.mat-form-field {
  font-size: 1.1rem;
}
