/* home */
.about_me {
  margin-top: 25px;
}

.habilities > img {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* experience */
.dev-ibr {
  margin-top: 25px;
  font-size: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: circle;
}

/* graduation */
.uri {
  margin-top: 25px;
  font-size: 1.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* contact */
.contact {
  margin-top: -50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact_button {
  margin-top: 10px;
  transition: 1s all;
}

.contact_button:hover {
  transform: scale(1.2);
}
